.media-photographer {
  margin-top: 40px;
  display: flex;
  margin: 0 auto;
  padding-top: 40px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.media-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 350px;
  margin: 20px 5px;
}

.media-link {
  display: block;
  overflow: hidden;
}

.media-video,
.media-img {
  /* width: 350px; */
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.media-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 50px;
}

.media-info h2,
.media-info .likes-count,
.media-info .media-likes-icon {
  color: #901C1C;
}

.likes-count {
  font-weight: 500;
  font-size: 24px;
}

.media-likes-icon {
  font-size: 20px;
}

.likes-count.liked,
.media-likes-icon.liked {
  color: #DB8876;
}


.media-title {
  font-size: 24px;
  text-align: left;
}

.likes-button-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.likes-icon {
  font-size: 18px;
  color: red;
  margin-right: 5px;
}

/* Animation */
.media-video,
.media-img {
  transition: all 0.3s ease-in-out;
}

.media-link:hover .media-video,
.media-link:hover .media-img {
  transform: scale(1.1);
}

/* Style pour la modale */

.modal-lb {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.973);
}

.modal-content {
  padding: 0 20px;
}

/* Boutons lightbox  */
.modal-close {
  align-self: flex-start;
}

button.likes-button,
button.lightbox-prev,
button.lightbox-next,
button.modal-close {
  background-color: transparent;
  border: none;
}

.lightbox-prev,
.lightbox-next,
.modal-close span {
  font-size: 44px;
  font-weight: bold;
  color: #911C1C;
}

button.modal-close {
  position: absolute;
  top: 20px;
}

.lightbox-control_right {
  display: flex;
  flex-direction: column;
}

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-title {
  color: #911C1C;
  font-weight: 400;
  font-size: 24px;
 margin-left: 47px;
}


.lightbox-media {
  max-width: 90%;
  max-height: 90vh;
  border-radius: 5px;
  margin: 0 20px;
}

.lightbox img,
.lightbox video {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.lightbox-media video,
.lightbox-media img {
  width: inherit;
  height: inherit;
  /* max-width: inherit; */
  max-height: inherit;
  border-radius: inherit;
  border-radius: 5px;
}

.lightbox-prev {
  left: 10px;
}

.lightbox-next {
  right: 10px;
}