@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
h1,
h2,
h3 {
    margin: 0;
    padding: 0
}

ul {
    list-style: none
}

button,
input,
select {
    margin: 0
}

html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

input::placeholder {
    font-size: 36px;
}

a {
    text-decoration: none;
    color: black
}

.back-home {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 100px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.title-home {
    padding-left: 20px;
}

.logo,
.logo-page {
    height: 50px;
}

.logo {
    margin-left: 100px;
}

.page-content {
    max-width: 1400px;
    margin: 0 auto 65px auto;
}

.page-content.modal-open {
    filter: blur(5px);
    pointer-events: none;
}

#main-page,
#main {
    margin-bottom: 100px;
    margin: 0 auto;
}

#main-page {
    width: 86%;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 70px;
    margin-top: 100px;
    grid-auto-flow: dense;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

/* Styles pour card photographe  */
article,
figure,
.card_desc-container {
    text-align: center;
}

figure {
    cursor: pointer;
}

.card_portrait * {
    white-space: nowrap;
}

.card_location {
    color: #901C1C;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.7em;
}

.card_tagline {
    /* color: #D3573C; */
    font-weight: 400;
    font-size: 1em;
    line-height: 1.7em;
}

.card_price {
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.2em;
    color: #5b5b5b;
}

/* Breakpoint à 930px*/
@media screen and (max-width: 930px) {
    .photographer_section {
        grid-template-columns: 1fr 1fr;
    }
}

/* Breakpoint à 716px  */
@media screen and (max-width: 716px) {
    .photographer_section {
        grid-template-columns: 1fr;
    }

    header {
        flex-direction: column;
        /* justify-items: center; */
        margin: 42px auto 0 auto;
        height: auto;
    }

    .logo {
        margin-left: 0;
    }

    .title-home {
        margin: 0;
    }

    .back-home {
        margin-left: 0;
    }
}

@media screen and (max-width: 445px) {
    input::placeholder {
        font-size: 24px;
    }

    input[type="text"],
    textarea,
    input[type="email"] {
        font-weight: 400;
        font-size: 24px;
    }

    .card_portrait * {
        white-space:unset;
    }

    .page-content {
        margin-bottom: 80px;
    }
}

.likes-button::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: transform 0.3s ease;
    border-radius: 60%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .likes-button:hover:not(.liked)::before {
    transform: scale(1.1);
  }